@import "tailwindcss";
@import "@heroui/styles"; 

:root {
  /* Colors */
  --background: #f5f8f5;
  --surface: #dcebe4;
  --primary: #7bae9b;
  --secondary: #5f927e;
  --foreground: #263a33;
  --muted: #5f927e;

  /* Fonts */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  /* Radius */
  --radius: 16px;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);

  /* Fonts */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  /* Radius */
  --radius-lg: var(--radius);
}

* {
  @apply box-border;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

button {
  cursor: pointer;
}